/bootstrap/compiled.php
.env.*.php
.env.php
.idea
.idea/workspace.xml
.idea/*
.env.local.php
node_modules
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
public/profiles/
public/img/pages/*
public/img/gallery/*
public/files/*
/app/storage/*
/app/storage/logs/*
/app/storage/cache/*
/app/storage/sessions/*
/app/storage/meta/*
/app/storage/views/*
/app/storage/emails/*
/public/files/*
_ide_helper.php
.vagrant
npm-debug.log
