/bootstrap/compiled.php
.env.*.php
.env.php
.idea
.idea/workspace.xml
.idea/*
.env.local.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
public/profiles/
app/config/facebook.php
/app/storage/logs/*
/app/storage/cache/*
/app/storage/sessions/*
/app/storage/meta/*
/app/storage/views/*
_ide_helper.php
