.calendar{
  margin-left: -40px;
  margin-right: -40px;
  .datepicker-inline{
    width: 100%;
    table{
      width: 100%;
      tr{
        .dow{
          cursor: pointer;
        }
        td{
          &.active{
            background-color: transparent!important;
            border-color: @white!important;
            position: relative;
            &:before{
              content: '';
              border-radius: 50%;
              position: absolute;
              top: 50%;
              left: 50%;
              background: @brand-success;
              height: 40px;
              width: 40px;
              margin-top: -20px;
              margin-left: -20px;
              z-index: -1;
            }
          }
        }
      }
    }
  }
}