.nav-carousel{
  li{
    background: @gray;
    width: 1%;
    display: table-cell;
    float: none;
    text-align: center;
    a{
      color: @white;
      padding-top: 15px;
      padding-bottom: 15px;
      &:hover{
        background-color: fade(@brand-primary, 60%);
      }
      &.disabled{
        background-color: fade( @white, 60%);
        cursor: not-allowed;
        pointer-events: none; // Future-proof disabling of clicks
        .box-shadow(none);
      }
      &.active{
        background: @brand-primary;
        color: @white;
      }
    }

  }
}

