.cart-row{
  padding: 10px 0;
  float: left;
  width: 100%;
  border-bottom: 1px solid @gray-light;
  &:first-of-type{
    padding-top: 0;
  }
  &:last-of-type{
    border: 0;
    padding-bottom: 0;
  }
}