.btn-fb {
  .button-variant(@btn-fb-color; @btn-fb-bg; @btn-fb-border);
}
.btn-twitter {
  .button-variant(@btn-twitter-color; @btn-twitter-bg; @btn-twitter-border);
}

.btn-white {
  .button-variant(@btn-white-color; fade(@btn-grey-bg, 20%); @btn-white-border);
}
.btn-light {
  .button-variant(@btn-white-color; @gray-mob; darken(@gray-mob, 1%));
}

.btn-grey {
  .button-variant(@btn-grey-color; @btn-grey-bg; @btn-grey-border);
  &:hover{
    color: @white;
  }
}

.btn-icon{
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.btn-form-control{
  display: block;
  width: 100%;
  height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  .sprite(100px, -240px);
  border: 1px solid @input-border;
  border-radius: @input-border-radius;
  text-align: left;
  &:hover,&:active,&:focus{
    color: @input-color;
  }
}

.btn-light-grey {
  .button-variant(@btn-grey-light-color; @btn-grey-light-bg; @btn-grey--light-border);
  &:hover{
    color: @white;
  }
}

.btn-transparent-grey{
  .button-variant(@btn-grey-color; transparent; @btn-grey-border);
  &:hover{
    background-color: @btn-grey-bg;
    color: @white;
  }
}

.btn-blank{
  .button-variant(@btn-grey-color; @white; @white);
}

.btn-transparent{
  background: transparent;
}

.btn-toggle-up{
    .btn-toggle(-370px, -250px);
}

.btn-toggle-down{
    .btn-toggle(-410px, -250px);
}

.btn-aside{
  padding-left: 9px;
  padding-right: 9px;
}

.btn-remove{
  position: absolute;
  top: 0 ;
  right: 0;
  z-index: 1;
}

.btn-package{
  .sprite(-1291px, -314px);
}

.stripe-button-el{
  .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
  &.btn{
    padding: 5px 12px;
    span{
      background: transparent;
      border: none;
      box-shadow: none;
    }
  }
}

.btn-group{
  &.btn-block{
    .btn{
      width: 70%;
      padding-left: 0px;
      padding-right: 0px;
      text-align: center;
    }

    .btn.btn-aside{
      width: 30%;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
  }
}

@media (max-width: @screen-xs-max) {
  .sm-btn-block{
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: @screen-sm-max) {
  .md-btn-block{
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

