.btn{
  border: 1px solid transparent;
}

.btn-block{
  padding-left: 0;
  padding-right: 0;
}

.btn-smallest{
  font-size: 10px;
  padding: 2px 7px;
}
.smallest-btn-wrapper{
  strong{
    line-height: 24px;
    vertical-align: middle;
    color: #bfbcbc;
  }
}

.btn-fb {
  .button-variant(@btn-fb-color; @btn-fb-bg; @btn-fb-border);
}
.btn-twitter {
  .button-variant(@btn-twitter-color; @btn-twitter-bg; @btn-twitter-border);
}


.btn-light {
  .button-variant(@btn-white-color; @gray-mob; darken(@gray-mob, 1%));
}

.btn-black{
  background: #000;
  color: @white;
  border-color: #000 ;
  &:hover, &:active, &:focus{
    background: fade(#000, 20%);
    color: @white;
  }
}

.btn-white {
  background: transparent;
  color: @white;
  border-color: @white ;
  &:hover, &:active, &:focus{
    color: @white;
  }
}


.filter-btn{
   position: relative;
   &:after{
     position: absolute;
     left: 20px;
     top: 50%;
     height: 22px;
     width: 22px;
     margin-top: -11px;
     content: '';
     .sprite(-1170px, -250px);
   }
 }

.sort-btn{
   position: relative;
   &:after{
     position: absolute;
     left: 20px;
     top: 50%;
     height: 22px;
     width: 22px;
     margin-top: -11px;
     content: '';
     .sprite(-1130px, -250px);
   }
 }


.custom-fb{
  width: 100%;
  position: relative;
  color: @white;
  background: @btn-fb-bg;
  float: left;
  height: 60px;
  padding: 17px 80px;
  font-weight: 600;
  &:hover,&.focus,&.active{
    color: @white;
    background: darken( @btn-fb-bg, 5%);
  }
  &:before{
    position: absolute;
    top: 50%;
    left: 20px;
    content: '';
    width: 32px;
    height: 32px;
    margin-top: -16px;
    .sprite(-604px, -804px, 0);
  }
  &:after{
    position: absolute;
    top: 50%;
    right: 20px;
    content: '';
    width: 32px;
    height: 32px;
    margin-top: -16px;
    .sprite(-564px, -844px, 0);
  }
}

.btn-grey {
  .button-variant(@btn-grey-color; @btn-grey-bg; @btn-grey-border);
  &:hover{
    color: @white;
  }
}

.btn-white-primary{
  background: @white;
  color: @brand-primary;
  border-color: @brand-primary ;
  &:hover, &:active, &:focus{
    background: @brand-primary;
    color: @white;
  }
}

.btn-icon{
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.trapezium{
  text-align: center;
  .trapezium-item{
    display: inline;
    a{
      margin: 0 10px;
      @media (max-width: @grid-float-breakpoint){
        margin: 10px;
      }
    }
  }
}

.btn-form-control{
  display: block;
  width: 100%;
  height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  .sprite(100px, -240px);
  border: 1px solid @input-border;
  border-radius: @input-border-radius;
  text-align: left;
  &:hover,&:active,&:focus{
    color: @input-color;
  }
}

.btn-light-grey {
  .button-variant(@btn-grey-light-color; @btn-grey-light-bg; @btn-grey--light-border);
  &:hover{
    color: @white;
  }
}

.btn-transparent-grey{
  .button-variant(@btn-grey-color; transparent; @btn-grey-border);
  &:hover{
    background-color: @btn-grey-bg;
    color: @white;
  }
}

.btn-blank{
  .button-variant(@btn-grey-color; @white; @white);
}

.btn-transparent{
  background: transparent;
}

.btn-toggle-up{
    .btn-toggle(-370px, -250px);
}

.btn-toggle-down{
    .btn-toggle(-410px, -250px);
}

.btn-aside{
  padding-left: 9px;
  padding-right: 9px;
}

.btn-remove{
  position: absolute;
  top: 0 ;
  right: 0;
  z-index: 1;
}

.btn-paypal{
  background: @white;
  border-color: #74c1e5;
  color: @white;
  position: relative;
  &:after{
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    width: 100%;
    content: '';
    .sprite(-514px, -883px, 0);
  }
}

.btn-package{
  .sprite(-1291px, -314px);
}

.custom-cat-select{
  font-size: 12px;
  line-height: 16px;
  padding-top: 2px;
  a{color: @white;}
  strong{
    font-size: 16px;
  }
}

.btn-find-me{
  position: relative;
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    height:40px;
    width:40px;
    pointer-events: none;
    .sprite(-200px, -760px);
  }
}
.btn-rounded{
  border-radius: 20px;
}

.stripe-button-el{
  .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
  &.btn{
    padding: 5px 12px;
    span{
      background: transparent;
      border: none;
      box-shadow: none;
    }
  }
}

.btn-group{
  &.btn-block{

    .btn{
      width: 65%;
      padding-left: 0px;
      padding-right: 0px;
      text-align: center;
    }

    .btn.btn-aside{
      width: 35%;
    }
    .btn-dropdown{
      width: 35%;
      height: 40px;
      padding: 0;
      border: 0;
      border-left: 1px solid @white;
      select{
        height: 100%;
        width:  20px;

      }
    }

  }
}

.btn-aside{
  border: 0;
  border-left: 1px solid @white;
  padding: 0;
  text-align: center;
  &:hover{
    cursor: default;
    border: 0;
    border-left: 1px solid @white;
  }
  &.btn-primary{
    &:hover{
      background-color: @btn-primary-bg;
    }
  }

  .btn-select{
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 7px;
    border: 0;
    height: @input-height-base;
    width: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    &::-ms-expand {
      display: none;
    }
  }
  .btn-drop{
    select{
      opacity: 0;
    }

  }
  .caret{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 6px;
    width: 6px;
    margin-top: -3px;
    margin-left: -3px;
    pointer-events: none;
  }
}

.view-all-btn{
  color: #4a90e2;
  float: right;
  margin-top: 4px;
}

@media (max-width: @screen-xs-max) {
  .sm-btn-block{
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: @screen-sm-max) {
  .md-btn-block{
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

