.angular-google-map{
  position: absolute;
  top: 35px;
  bottom: 0;
  width: 100%;
}
.angular-google-map-container {
  height: 100%;
  width: 100%;
}
.results{
  position: absolute;
  right: 25px;
  top: 95px;
  bottom: 40px;
  padding: 0 10px 9px;
  overflow: hidden;
  &:after{
    content: '';
    position: absolute;
    height: 9px;
    background: @white;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
  }
  .inner{
    height: 100%;
    width: 435px;
    background: @white;
    .box-shadow(5px 5px 13px -5px #000);
  }

  .heading{
    background: @gray-lighter;
    padding: 7px 20px;
    border-bottom: 1px solid @input-border;
    height: 40px;
  }
  .nav{
    li{
     &:first-of-type{
       border-right: 1px solid @input-border;
     }
      a{
        font-weight: 600;
      }
    }
  }
  .tab-pane{
    border-bottom: 1px solid @input-border;
  }
}