.dropdown-menu{
  min-width: 340px;
  line-height: 1.6;
}
// Dropdown section headers
.dropdown-header {
  padding: 3px 10px 5px;
  font-size: @font-size-base;
  line-height: @line-height-base;
  font-weight: 700;

}
.dropdown-cart{
  width: 440px;
}