label{
  color: @gray-darker;
}
.form-control{
  box-shadow: none;
  line-height: 16px;
  &:focus{
    box-shadow: none;
    border-color: initial;
  }
}
.form-group{
  &.required{
    label{
      &:after{
        content:"*";
        color:red;
      }
    }
  }
}

.with-addon{
  .form-control{
    border-left: 0;
  }
  .input-group-addon{
    padding: 5px 10px;
    border-right: none;
  }
  select{
    -webkit-appearance: menulist-button;
    line-height: 34px;
  }
}


.help-block{
  color: @gray;
  margin-bottom: -31px;
}

/*
.custom-checkbox{
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  input{
    float: left;
    width: 22px;
    margin-right: 5px;
    margin-top: 7px;
    &:before{
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      height: 20px;
      width: 20px;
      .sprite(-970px, -250px);
    }
    &:checked{
      &:before{
        .sprite(-970px, -290px);
      }
    }
  }
}
*/
.custom-checkbox{
  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
  }
  label:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    .sprite(-970px, -250px);
  }
  input {
    display: none;
  }
  input:checked + label:before {
    .sprite(-970px, -290px);
  }
}




.custom-select {
  position: relative;

  &:after{
    position: absolute;
    content: '';
    height: 40px;
    width: 20px;
    top: 0;
    right: 3px;
    .sprite(-50px, -240px);
  }
  &:hover{
    &:after{
      .sprite(-50px, -280px);
    }
  }
  select::-ms-expand {
    display: none;
  }

  select {
    background: transparent;
    line-height: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .input-sm{
    line-height: 20px;
  }
}

.custom-select-white{
  &:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #ffffff;
  }
}

.input-group{
  .custom-select{

    select{
      border-radius: 0;
    }

  }
}
@-moz-document url-prefix() {
  .custom-select {
    position: relative;
    &:after {
      position: relative;
    }
  }
}

.btn-select{
  appearance: none;
  height: 40px;
  width: 38px;
  padding: 0 8px;
  border: 0;
  border-left: 1px solid @white;
  &::-ms-expand {
    display: none;
  }
}




.custom-btn-dropdown-select{
  &:after{
    position: absolute;
    content: '';
    top: 10px;
    right: 6px;
    height: 20px;
    width: 20px;
    .sprite(-50px, -330px);
  }
}


.form-no-gap {
  .input-group{
    display: block;
    margin-bottom: 10px;
  }
  .btn{
    display: block;
    margin: auto;
  }
    @media screen and (min-width: @screen-sm-min) {
      .input-group {
        width: 100%;
        display: inline-table;
        margin: 0;
        .input-group-addon {
          border-color: @white;
          border-radius: 0;
          width: 1%;
          &.first {
            border-top-left-radius: @border-radius-base;
            border-bottom-left-radius: @border-radius-base;
          }
        }
        .form-control {
          border: 0;
          border-right: 1px solid @gray-darker;
          border-radius: 0;
        }
      }
      .btn {
        margin: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
  }
}

.input-group-addon{
  padding: 0;
  .select-addon{
    padding: 10px 15px;
    border: 0;
  }
}

.landing-form{
  background: fade(@white, 40%);
  padding: 30px;
  .btn{
    height: 60px;
    width: 33.33%;
    float: left;
    border-radius: 0;
    text-transform: uppercase;
  }

}
.input-wrapper{
  position: relative;
  height: 60px;
  width: 33%;
  margin-right: 0.33%;
  position: relative;

  &:after{
    position: absolute;
    content: '';
    top: 20px;
    left: 20px;
    height: 20px;
    width: 20px;

  }
  &.email{
    &:after{
      .sprite(-490px, -290px);
    }
  }
  &.location{
    &:after{
      .sprite(-650px, -290px);
    }
  }
  .form-control{
    height: 100%;
    padding-left: 50px;
  }
  .btn{
    height: 100%;
  }


}


