label{
  font-weight: 600;
  font-size: 13px;
}
.form-control{
  box-shadow: none;
  line-height: 18px;
  height: @input-height;
  &:focus{
    .box-shadow(none);
    border-color: initial;
  }
  &.input-sm{
    height: 32px;
    line-height: 16px;
  }
  &.input-lg{
    height: 49px;
    font-size: 14px;
  }
}
.input-group-addon {
  color: #bfbfbf;
  padding: 5px 0 5px 10px;
}
.form-group{
  &.required{
    label{
      &:after{
        content:"*";
        color:red;
      }
    }
  }
}

.help-block{
  color: @gray;
  margin-bottom: -31px;
}

/*
.custom-checkbox{
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  input{
    float: left;
    width: 22px;
    margin-right: 5px;
    margin-top: 7px;
    &:before{
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      height: 20px;
      width: 20px;
      .sprite(-970px, -250px);
    }
    &:checked{
      &:before{
        .sprite(-970px, -290px);
      }
    }
  }
}
*/
.custom-checkbox{
  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
  }
  label:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    .sprite(-970px, -250px);
  }
  input {
    display: none;
  }
  input:checked + label:before {
    .sprite(-970px, -290px);
  }
}



.btn{
  .custom-select {
    position: relative;


    &:after{
      position: absolute;
      content: '';
      height: 38px;
      width: 20px;
      top: 0;
      right: 3px;
      pointer-events: none;
      .sprite(-50px, -240px);
    }


    &:hover{
      &:after{
        .sprite(-50px, -280px);
      }
    }
    &.btn-drop{
      &:after{
        display: none;
      }
    }
    select::-ms-expand {
      display: none;
    }

    select {
      background: transparent;
      line-height: 1;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    .input-sm{
      line-height: 20px;
    }
  }
  &.btn-primary{
    .custom-select {
      select {
        background: @brand-primary;
      }
      &:after {
        .sprite(-50px, -320px);
      }
    }
  }
}

body:not(:-moz-handler-blocked) .custom-select:after{
  right: -50px;
}


.custom-select-white{
  &:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 40px;
    background: #ffffff;
    pointer-events: none;
  }
}

.input-group{
  .form-control{
    border-left: 0;
  }
}
@-moz-document url-prefix() {
  .custom-select {
    position: relative;
    &:after {
      position: relative;
    }
  }
}






.custom-btn-dropdown-select{
  &:after{
    position: absolute;
    content: '';
    top: 10px;
    right: 6px;
    height: 20px;
    width: 20px;
    .sprite(-50px, -330px);
  }
}


.landing-form{
  background: fade(@white, 40%);
  padding: 30px;
  .btn{
    height: 60px;
    width: 33.33%;
    float: left;
    border-radius: 0;
    text-transform: uppercase;
  }

}
.input-wrapper{
  position: relative;
  height: 60px;
  width: 33%;
  margin-right: 0.33%;
  position: relative;

  &:after{
    position: absolute;
    content: '';
    top: 20px;
    left: 20px;
    height: 20px;
    width: 20px;

  }
  &.email{
    &:after{
      .sprite(-490px, -290px);
    }
  }
  &.location{
    &:after{
      .sprite(-650px, -290px);
    }
  }
  &.person{
    &:after{
      .sprite(-570px, -290px);
    }
  }
  .form-control{
    height: 100%;
    padding-left: 50px;
  }
  .btn{
    height: 100%;
  }


}

.toggle-select{
  border: 1px solid @gray-mob;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  .switch{
    background-color: @gray-mob;
    height: 38px;
    font-weight: 600;
    text-align: center;
    font-family: @font-family-condensed;
    cursor: pointer;
    padding: 0;
    &.disabled{
      opacity: 0.3;
      z-index: -1;
      pointer-events: none;
      cursor: default;
    }
    a{
      height: 100%;
      display: block;
      color: @white;
      font-size: 36px;
      line-height: 34px;
    }
    &:hover{
      background-color: darken(@gray-light, 20%);
    }
  }
}


// responsive only targeting
.discover-nav{
  #search-classes{
    @media (max-width: @screen-md-max) {
      input[type=submit]{
        margin-left: -10px;
        float: left;
      }
    }
  }
}

// select box

.sbHolder{
  width: 100%;
  .sbSelector{
    width: 100%;
    text-align: center;
    display: block;
  }
  .sbToggle{
    display: block;
    height: 26px;
    outline: none;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -13px;
    width: 24px;
    .sprite(-47px, -246px);
  }
  .sbOptions{
    background-color: @white;
    border: solid 1px @input-border;
    list-style: none;
    left: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 26px;
    width: 100%;
    z-index: 1;
    overflow-y: auto;
    li{
      padding: 0 7px!important;
      line-height: 26px!important;
      a{
        border-bottom: dotted 1px @input-border;
        display: block;
        outline: none;
        padding: 0 0 0 3px;
      }
      &:hover{
        a{
          color: @white;
        }
        background: @brand-primary;
      }
    }
  }
}

.select-default{
  padding: 0;
  height: 26px;
  line-height: 26px;
}

