
@media (max-width: @grid-float-breakpoint) {
  .hidden-mob{
    display: none!important;
  }
  .sm-no-float{
    float: none!important;
  }
  .sm-pull-right{
    float: right!important;
  }
  .sm-pull-left{
    float: left!important;
  }
  .sm-strong{
    font-weight: 600;
    color: @gray-darker;
  }
}