.black-gradient-mask{
  position: relative;
  background-size: cover;
  .mask{
    .gradient-mask( #000, 80%);
  }
}

.gradient-mask( @color, @fade : 65%, @start-percent: 0%,@end-percent: 100%){
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  #gradient > .vertical( fade(@color, 22%) ; fade(@color, @fade));
}