.landing-header{
  height: 650px;
  padding-top: 10px;
  .jumbotron{
    padding-top: 185px;
  }
  h1{
    font-size: 72px;
    margin-bottom: 0;
    letter-spacing: 1px;
  }
  h2{
    font-size: 60px;
    margin-top: 11px;
    letter-spacing: 1px;
  }
  h3{
    margin-top: 0;
    margin-bottom: 35px;
    letter-spacing: 1px;
  }
}
.landing-banner{
  height: 160px;

  img{
    float: left;
    padding-top: 51px;
    margin-right: 20px;
  }
  h4{
    padding-top: 48px;
    margin: 0 0 8px;
  }
  p{
    line-height: 20px;
  }
}