.navbar-default{
  transition: all 0.4s;

  .navbar-brand{
    width:96px;
    .logo-sprite();
  }
  .navbar-nav{
    li{
      .dropdown-menu{
        border-radius: 4px;
      }
      a.nav-list{
        font-weight: 700;
        padding-left: 40px;
        padding-right: 40px;
      }
      .nav-profile{
        padding: 11px 20px;
        img{
          height: 40px;
          margin-left: 15px;
        }
      }
    }
    .nav-cart{
      padding: 20px 10px 12px;
    }
  }
}

.nav-hero{
  background: transparent;
  border-color: transparent;
  .navbar-brand{
    .logo-sprite(-40px, -113px);
  }
  .navbar-nav{
    li{
      a.nav-list{
        color: @white;
        &:hover,&.active{
          color: @brand-primary;
        }
      }

    }
  }
  .nav-cart {
    .icon-cart {
      .sprite(-890px, -330px);
    }
  }
}

.navbar-fixed-top{
  z-index: 1;
}

.sticky-fixed-nav{
  padding-top: 11px;
  z-index: 100;
  transition: 0;
}

.nav-pills{
  li{
    text-align: center;
    a{
      padding: 5px 15px;
      display: inline-block;
    }
  }
}

.navbar-inverse{
  border: 0;
}

.nav-bar-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.discover-nav{
  top: @navbar-height-outer;
  height: @discover-navbar-height;
  padding: @discover-navbar-padding;
  border-bottom: 1px solid @gray-light;
  position: fixed;
  width: 100%;
  background: @white;
  z-index: 10;
}

.discover-nav-spacer{
  margin-top: @navbar-height-outer + @discover-navbar-height;
}

@media (min-width: @grid-float-breakpoint){
  .nav-no-float{
    li{
      float: none;
    }
  }
}


@media (min-width: @grid-float-breakpoint) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 20px;
    margin-right:50px;
  }
}

// footer

.footer{
  background: @white;
  padding: 40px 0;
  border-top: 1px solid @gray-dark;
  .list-inline{
    margin-top : 20px ;
  }
}





