@font-face {
  font-family: 'UniversLTStd59UltraCondensed';
  src: url('/fonts/universltstd-ultracn.eot');
  src: url('/fonts/universltstd-ultracn.eot') format('embedded-opentype'),
  url('/fonts/universltstd-ultracn.woff') format('woff'),
  url('/fonts/universltstd-ultracn.ttf') format('truetype'),
  url('/fonts/universltstd-ultracn.svg#UniversLTStd59UltraCondensed') format('svg');
}