/**
** default class css
@param element height
@param image wrapper height
@param title margin
@param border for info box

*/

// manage background sprite
// logos at
.logo-sprite( @x : -40px , @y: -72px, @img : "../img/ev_site_icons.png" ){
  background-image: url(@img);
  background-position: @x @y;
  overflow: hidden;
}
// default sprite starts at -50px -250px and is in increments of 40
.sprite( @x, @y, @int : 40,  @img : "../img/ev_site_icons.png" ){
  background-image: url(@img);
  background-position: @x @y;
  overflow: hidden;
  &.hover{
    &:hover{
      cursor: pointer;
      background-position: @x ceil(@y - @int);
    }
  }
}

.class-box(@height: auto, @image-height: 100%, @heading-margin: 0, @info-border : 1px solid @gray-light){
  width: 100%;
  background-color: @white;
  height: @height;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  overflow: hidden;
  color: @gray;
  .class-image-wrapper{
    height: @image-height;
    overflow: hidden;
    img{
      height: 100%;
      margin-left:ceil( ( ( (@image-aspect-ratio * @image-height)/2) - ( @image-aspect-ratio * @image-height) ) / 2);
    }
  }
  .class-title-wrapper{
    padding:0 20px;
    .class-rating-wrapper{
    margin:5px 0 15px;
  }
  h3{
    margin-bottom: @heading-margin;
  }
  .btn{
    margin-top: 20px;
  }
}
strong.text-primary{
  font-size: 20px;
  }
  .class-info-wrapper{
    height: 100%;
    border-top: @info-border;
    span{
      display: inline-block;
      vertical-align: middle;
      line-height: 36px;
      padding-top: 2px;
    }
    form{
      padding: 0 15px;
    }
  }
}

// icon mixin

.icon(@height: 20px, @width : 22px){
  height: @height;
  width: @width;
  display: inline-block;
  vertical-align: middle;
}

// branded list styleing

.branded-list() {
  list-style-type: none;
  position: relative;
  margin-left: 2px;
  padding-left: 0;
  li{
    line-height: 30px;
    &:before {
      content: "\2022";
      font-size: 18px;
      position: absolute;
      left: -2px;
      top:0;
      color: @brand-primary;
      margin-right: 5px;
    }
  }
}
