h1 {font-family: helvetica, arial, sans-serif; text-transform: uppercase; font-size: 26px;  line-height: 30px; font-weight: 500; color:#768690; margin: 0}
h3 {font-family: helvetica, arial, sans-serif; text-transform: uppercase; font-size: 18px;  line-height: 26px; font-weight: 500; color:#768690; margin: 0}
p { font-family: helvetica, arial, sans-serif; font-size: 14px;  line-height: 26px; font-weight: normal; color:#768690; }
b { font-weight: bold; color:#768690; }
table{ width: 640px}
.container{ padding: 30px}
.pink-text{ color: #ff1b7e}
.white-text{ color: #ffffff}
.text-right{ text-align: right}
.text-center{ text-align: center}
.image-left{ float: left; margin-right: 25px}
.image-right{ float: right; margin-left: 25px}
.footer { font-size: 12px; text-align: left;}
.mb30{ width: 100%; margin-bottom: 30px; float: left;}
.btn{ display: inline-block; padding: 11px 18px;  border-radius: 4px; text-decoration: none; color: #ffffff ; text-transform: uppercase; font-family: helvetica, arial, sans-serif; font-weight:600;  }
.btn-blue{ background: #5ecde8}

@media only screen and (max-device-width: 320px) and (max-device-height: 568px) {
    table{ width: 100%}
    h1 { font-family: helvetica, arial, sans-serif; text-transform: uppercase; font-size: 30px; line-height: 42px; font-weight: 500; color:#768690; margin: 0 }
    p { font-family: helvetica, arial, sans-serif; font-size: 26px;  line-height: 38px; font-weight: normal; color:#768690; }
    b { font-weight: bold; color:#768690; }
    img { max-width: 640px; width: 100%}
    .footer { font-size: 13px; text-align: left;}
}

@media screen and (max-device-width: 375px) and (max-device-height: 667px) {
    table{ width: 100%}
    h1 { font-family: helvetica, arial, sans-serif; text-transform: uppercase; font-size: 30px; line-height: 42px; font-weight: normal; color:#768690; }
    p { font-family: helvetica, arial, sans-serif; font-size: 26px;  line-height: 38px; font-weight: normal; color:#768690; }
    b { font-weight: bold; color:#768690; }
    img { max-width: 640px; width: 100%}
    .footer { font-size: 13px; text-align: left;}
}