@import 'grid.less';
@columns: 12;
@column-width: 65;
@gutter-width: 20;

@total-width: 100%; // Switch from pixels to percentages

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration: none;}

img{ max-width: 100%;}

/* end reset */
@import 'mixins.less';
@import 'settings.less';



@desktop:   ~"only screen and (min-width: 960px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@mobile:    ~"only screen and (max-width: 719px)";


/* tags */

h1{.font-size(3.5); .main-font()}
h2{.font-size(3.1); .main-font()}
h3{.font-size(2.8); .main-font()}
h4{.font-size(2.3); .main-font()}
h5{.font-size(2.0); .main-font()}
h6{.font-size(1.6); .main-font()}

p,a{
	.font-size(1.6);
	.line-height(3);
	.main-font(300);
	color: @black;
}


/* end tags */

/*forms and inputs*/
input{
	width: 100%;
}

input,textarea,select,.drop_down{
	.font-size(1.4);
	.border-radius(4);
	.transition(all linear 0.2s);
	.box-sizing();
	margin-top: 0;
	margin-left: 0;
	background-color: @white;
	border: 1px solid #cccccc;
	padding: 10px 4px;
	color: lighten(@black, 10%);
	background-position: 99% 50%;
	background-repeat: no-repeat;
	&:focus,&:active,{
	  border-color: @blue;
	  outline: 0;
	  outline: thin dotted \9;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lighten(@blue, 5%) ;
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lighten(@blue, 5%);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lighten(@blue, 5%);
	}
	&.error{
		border-color: @red;
		background-image: url('/img/delete_cross.png');
	}
}


#password_confirmation{
	margin-top: 10px;
}

.drop_down{
	display: block;
	margin-top: -40px;
	background-image: url('/img/select_arrow.png');
	background-size: auto 50%;
	background-position: 95% 50%;
}

label{
	.font-size(1.6);
	padding: 11px 0;
	display: block;
}

.float-right{
	float: right;
}


// buttons 

.btn(@bk, @width : 100% , @margin : 0){
	.font-size(1.4);
	text-align: center;
	padding: 10px 4px;
	.border-radius(4);
	text-decoration: none;
	border: 1px solid darken(@bk, 8%);
	color: contrast(@bk, darken(@bk, lightness(@bk) ),lighten(@bk, (100 - lightness(@bk))), 50%);
	.gradient (lighten(@bk, 15%), @bk);
	width: @width;
	.text-shadow(0 -1px 1px contrast(@bk,lighten(@bk, (100 - lightness(@bk))), darken(@bk, lightness(@bk) ), 50%));
	display: block;
	margin-top:@margin+px;
	&:hover{
		cursor: pointer;
		.gradient (darken(@bk, 5%), @bk);
	}
	&:active{
		.gradient (darken(@bk, 10%), @bk);
	}
}


.btn-yellow{.btn(@evercise-yellow);}
.btn-fb{.btn(#3b5998,20);}

/*error and success blcks  */

.top-msg{
	width: 100%;
	background-color: lighten(@green, 5%);
	border: 2px solid @green;
	color: @white;
	padding: 12px 0px;
	text-align: center;
	.transition(all linear 0.1s);
	.box-shadow( inset 0 0 3px @white );
	.font-size(1.6);
}

.error_msgs(@cols){
	.row(@cols);
	.box-sizing();
	background-color: lighten(@black, 10%);
	color: @white;
	padding: 15px 20px;
	.font-size(1.8);
	margin-bottom: 20px;
}

.success_msgs(@cols){
	.row(@cols);
	.box-sizing();
	.border-radius(4);
	.font-size(1.8);
	margin-top: 10px;
	float: left;
	background-color: lighten(@green, 2%);
	border: 4px solid @green;
	color: @white;
	padding: 15px 20px;
	text-align: center;
	.transition(all linear 0.1s);
	display: none;
}


.create-form{
	.column(11);
	.push(1);
	.formitem{
		.formitems(10,2,8);
	}
	.error-msg{
		.error_msgs(8);
	}
	.success_msg{
		.success_msgs(10);
	}
	.btn-yellow{
		margin: auto;
		.btn(@evercise-yellow, 220px,20);	
	}
}

/* end forms */

/* body area*/
body{
	background-image: url('/img/cream_pixels.png');
}
.container {
	.column(12);
	.font-size(1);
	.main-font(400);
	margin: 0px auto;
	display: table;
	float: none;
	background-color: @white;
}

nav{
	.column(12);
	.border-radius(4);
	.drop-shadow(0,5,5,-3,0.3);
	.box-sizing();
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 0 10px;
	background-color: @brown;
	ul{
		li{
			float: left;
			padding: 12px 25px 3px;
			.font-size(1.4);
			font-weight: 400;
			color: #999;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			cursor: pointer;
			&:hover{
				color: @white;
			}
			a{
				.font-size(1.4);
				font-weight: 400;
				color: #999;
				text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
				&:hover{
					color: @white;
				}
			}
		}
		label{
			display: none;
		}
		img{
			float: left;
			margin-top: 7px;
		}
		input{
			.border-radius(50);
			-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
		    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
		    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
			.font-size(1.3);
			background-color: #515151;
			border: 1px solid #111111;
			padding: 6px 14px;
			margin-top: -7px;
			&:active{
				background-color: @white;
			}
			&:focus{
				background-color: @white;
			}
		}
		.profile-pic{
			height: 30px;
			float: right;
			margin-top: 5px;
		}
	}
	.dropdown-menu{
		display: none;
		min-width: 160px;
		background-color: @white;
		position: absolute;
		top: 100%;
		right: 0;
		margin-top: 1px;
		padding: 5px 0;
		border: 1px solid rgba(0, 0, 0, 0.2);
		.border-radius();
		.box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
		&:before{
			position: absolute;
			top: -7px;
			right: 16px;
			display: inline-block;
			border-right: 7px solid transparent;
			border-bottom: 7px solid #ccc;
			border-left: 7px solid transparent;
			border-bottom-color: rgba(0, 0, 0, 0.2);
			content: '';
		}
		&:after{
			position: absolute;
			top: -6px;
			right: 17px;
			display: inline-block;
			border-right: 6px solid transparent;
			border-bottom: 6px solid @white;
			border-left: 6px solid transparent;
			content: '';
		}
		a{
			.font-size(1.4);
			.main-font(400);
			display: block;
			color: @black;
			line-height: 20px;
			padding: 3px 20px;
			text-shadow: none;
			.transition(all linear 0.1s);
			&:hover{
				.gradient (darken(@blue, 20%), @blue);
			}
		}
		hr{
			border: none;
			border-bottom: 1px solid @grey;
			width: 90%; 
		}
	}
}

.login_wrap,.modal{
	width: 300px;
	margin-left: -150px;
	left: 50%;
	top: 30%;
	.border-radius(4);
	.box-sizing();
	background-color: @white;
	position: fixed;
	z-index: 9999;
	padding: 20px;
	.orSeperator{
		background-image: url(/img/line.jpg);
		background-repeat: repeat-x;
		background-position: 50%;
		width: 100%;
		text-align: center;
		padding: 5px 0;
		margin: 10px 0;
		span{
			.font-size(1.4);
			padding: 5px;
			background-color: @white;
		}
	}
	.cancel{
		.font-size(2.4);
		.main-font(600);
		color: @grey;
		position: absolute;
		top: 0;
		right: 10px;
		&:hover{
			cursor: pointer;
			color: @black;
		}
	}
	.error-msg{
		.error_msgs(3);
		margin-top: 20px;
		text-align: center;
	}
}

.full_width{
	.row(8);
	.push(2);
	text-align: center;
	.input-wrapper{
		.column(6,8);
		.push(1);
		margin-top: 15px;
		margin-bottom: 25px;
	}
	.btn-wrapper{
		.column(2,8);
		.push(3);
	}
	.error-msg{
		.error_msgs(4);
	}
	.grey{
		color: darken(@grey, 15%);
	}
	.btn{
		max-width: 250px;
		margin: auto;
	}
	hr{
		border:none;
		border-bottom: 1px dashed @grey;
		margin: 35px 0 50px;
	}
	ul{
		margin: 20px 0;
		li{
			.font-size(1.6);
			line-height: 30px;
		}
	}
	.center-img{
		margin-bottom: 50px;
	}
	.orSeperator{
		background-image: url(/img/line.jpg);
		background-repeat: repeat-x;
		background-position: 50%;
		width: 30%;
		text-align: center;
		padding: 5px 0;
		margin: 10px auto;
		span{
			.font-size(1.4);
			padding: 5px;
			background-color: @white;
		}
	}
}

.large_left{
	.column(7);
	.push(1);
	.btn-wrapper{
		.column(3,7);
	}
}

.small_right{
	.column(2);
	.push(1);
}

.block_title {
	.column(12);
	background-color: @evercise-yellow;
	padding: 15px 0;
	text-align: center;
	.drop-shadow(0,5,5,-3,0.3);
	.heading-font(600,italic);
	margin-bottom: 40px;
}

.profile-pic{
	.border-radius();
}

/* end body area */

/* create user page */
.formcheckbox{
	text-align: center;

	input{
	  position: absolute; 
	  overflow: hidden; 
	  clip: rect(0 0 0 0); 
	  height:1px; 
	  width:1px; 
	  margin:-1px; 
	  padding:0;
	  border:0;
	}

	input + label {
	  background-image:url('/img/chkbox.png');
	  padding: 0;
	  padding-left:30px;
	  height:20px; 
	  display:inline-block;
	  line-height:20px;
	  background-repeat:no-repeat;
	  background-position: 0 0;
	  vertical-align:middle;
	  cursor:pointer;
	  .font-size(1.4);
	  .transition(all linear 0.1s);
	}

	input:checked + label {
	  background-position: 0 -20px;
	}
	            
}

.fb-wrapper{
	.column(4);
	.push(4);
	margin-bottom: 20px;
}
.center-btn-wrapper{
	.column(4);
	.push(3);
	margin-top: 20px;
}

/* image uploader */

#image-upload{
	width: 450px;
	float: left;
	position: relative;
	#img-crop{
		padding: 10px;
		border: 1px solid @grey;
		input{
			width: 122px;
			position: absolute;
			top: -10px;
			left: 10px;
			padding: 5px 0;
		}
		img{
			margin-top: 35px;
		}
	}
	input#image{
		width: 100%;
		opacity: 0;
		height: 120px;
	}
	
	.cover-up{
		.border-radius();
		position: absolute;
		width: 100%;
		height: 120px;
		border: 1px solid @grey;
		.btn{
			position: absolute;
			top: 5px;
			left: 5px;
			width: 130px;
			padding: 5px 0;
		}
		.cover-up-wrap{
			background: lighten(@grey, 10%);
			position: absolute;
			bottom: 5px;
			left: 5px;
			width: 440px;
			height: 77px;
			padding: 5px;
			.box-sizing();
			border: 1px solid @grey;
		}
	}

	.error-msg{
		width: 100%;
	}
}

.frame{
	float: left;
	width: 100px;
	height: 100px;
	padding: 9px 11px 11px 9px;
	border: 1px solid #cccccc;
	margin-right: 20px;
	margin-bottom: 20px;
	.preview {
		width: 100px;
		height: 100px;
		overflow: hidden;
		.border-radius();
		border: 1px solid #cccccc;

		img{
			height: 100px;
			width: 100px;
			max-width: none;
		}
	}
}





/*footer */
	
footer{
	.column(12);
	.border-radius(4);
	.drop-shadow(0,5,5,-3,0.3);
	margin-top: 40px;
	float: left;
	background-color: @brown;
	padding: 15px 0; 
	color: darken(@white, 20%);
	section{
		.row(12);
		aside{
			.column(3,12);
			padding: 0 15px;
			.box-sizing();
		}
		header{
			.font-size(1.8); 
			margin-bottom: 15px;
		}
		a,p{
			color: darken(@white, 30%);
			.font-size(1.4);
		}
		div{
			.column(12,12);
			margin-top: 20px;
			border-top:1px dashed lighten(@black, 20%);
			text-align: right;
			.box-sizing();
			padding: 20px 35px 0 0;
			a{
				margin: 2px;
			}
			p{
				display: inline;
				margin-right: 10px;
			}
		}
	}	
}	
.lower_footer{
	.column(12);
	margin-top: 5px;
	img{
		width: 100px;
		float: left;
	}
	p{
		text-align: right;
	}
}

// mask

.mask{
	.transition(all linear 0.2s);
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url('/img/transparent_mask.png') repeat scroll 0 0 transparent;
	opacity: 1;
	z-index: 9998;
}







