@import 'grid.less';
@columns: 12;
@column-width: 65;
@gutter-width: 20;

@total-width: 100%; // Switch from pixels to percentages

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration: none;}

/* end reset */
@import 'mixins.less';
@import 'settings.less';



@desktop:   ~"only screen and (min-width: 960px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@mobile:    ~"only screen and (max-width: 719px)";


/* tags */

h1{.font-size(3.5);}
h2{.font-size(3.1);}
h3{.font-size(2.8);}
h4{.font-size(2.3);}
h5{.font-size(2.0);}
h6{.font-size(1.6);}

p,a{
	.font-size(1.4);
	.line-height(2.4);
	.main-font(400);
	color: @black;
}


/* end tags */

/*forms and inputs*/

input,textarea,select,.drop_down{
	margin-top: 0;
	.font-size(1.4);
	background-color: @white;
	border: 1px solid lighten(@black, 50%);
	padding: 10px 4px;
	.border-radius(4);
	.transition(all linear 0.2s);
	color: lighten(@black, 10%);
	background-position: 99% 50%;
	background-repeat: no-repeat;
	&:focus,&:active,{
	  border-color: @blue;
	  outline: 0;
	  outline: thin dotted \9;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lighten(@blue, 5%) ;
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lighten(@blue, 5%);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lighten(@blue, 5%);
	}
	&.error{
		border-color: @red;
		background-image: url('/img/delete_cross.png');
	}
}

.drop_down{
	display: block;
	margin-top: -40px;
	background-image: url('/img/select_arrow.png');
	background-size: auto 50%;
	background-position: 95% 50%;
}

label{
	.font-size(1.4);
	padding: 11px 0;
	display: block;
}

// buttons 

.btn(@bk, @width : 100% , @margin : 0){
	.font-size(1.4);
	text-align: center;
	padding: 10px 4px;
	.border-radius(4);
	text-decoration: none;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
	color: contrast(@bk, darken(@bk, lightness(@bk) ),lighten(@bk, (100 - lightness(@bk))), 50%);
	.gradient (lighten(@bk, 15%), @bk);
	width: @width;
	.text-shadow(0 -1px 1px contrast(@bk,lighten(@bk, (100 - lightness(@bk))), darken(@bk, lightness(@bk) ), 50%));
	display: block;
	margin-top:@margin+px;
	&:hover{
		cursor: pointer;
		.gradient (darken(@bk, 5%), @bk);
	}
	&:active{
		.gradient (darken(@bk, 10%), @bk);
	}
}


.btn-yellow{.btn(#ffd21e);}
.btn-fb{.btn(#3b5998,20);}

/*error and success blcks  */

.error_msgs(@cols){
	.row(@cols);
	.box-sizing();
	background-color: lighten(@black, 10%);
	color: @white;
	padding: 15px 20px;
	.font-size(1.8);
	margin-bottom: 20px;
}

.success_msgs(@cols){
	.row(@cols);
	.box-sizing();
	.border-radius(4);
	.font-size(1.8);
	margin-top: 10px;
	float: left;
	background-color: lighten(@green, 2%);
	border: 4px solid @green;
	color: @white;
	padding: 15px 20px;
	text-align: center;
	.transition(all linear 0.1s);
	display: none;
}


#user_create{
	.column(11);
	.push(1);
	.formitem{
		.formitems(10,2,8);
	}
	.error_msg{
		.error_msgs(8);
	}
	.success_msg{
		.success_msgs(10);
	}
	.btn{
		margin: auto;
		.btn(@evercise-yellow, 220px,20);	
	}
}



/* end forms */

/* body area*/
body{
	background-image: url('/img/cream_pixels.png');
}
.container {
	.column(12);
	.font-size(1);
	.main-font(400);
	margin: 0px auto;
	display: table;
	float: none;
	background-color: @white;
}

.block_title {
	background-color: @evercise-yellow;
	padding: 15px 0;
	text-align: center;
	.drop-shadow(0,5,5,-3,0.3);
	.heading-font(600,italic);
	margin-bottom: 40px;
}

/* end body area */

/* create user page */
.formcheckbox{
	text-align: center;

	input{
	  position: absolute; 
	  overflow: hidden; 
	  clip: rect(0 0 0 0); 
	  height:1px; 
	  width:1px; 
	  margin:-1px; 
	  padding:0;
	  border:0;
	}

	input + label {
	  background-image:url('/img/chkbox.png');
	  padding: 0;
	  padding-left:30px;
	  height:20px; 
	  display:inline-block;
	  line-height:20px;
	  background-repeat:no-repeat;
	  background-position: 0 0;
	  font-size:14px;
	  vertical-align:middle;
	  cursor:pointer;
	  .transition(all linear 0.1s);
	}

	input:checked + label {
	  background-position: 0 -20px;
	}
	            
}

.fb-wrapper{
	.column(4);
	.push(4);
	margin-bottom: 20px;
}
.center-btn-wrapper{
	.column(4);
	.push(3);
	margin-top: 20px;
}

/*footer */
	
footer{
	.column(12);
	.border-radius(4);
	.drop-shadow(0,5,5,-3,0.3);
	margin-top: 40px;
	float: left;
	background-color: @brown;
	padding: 15px 0; 
	color: darken(@white, 20%);
	section{
		.row(12);
		aside{
			.column(3,12);
			padding: 0 15px;
			.box-sizing();
		}
		header{
			.font-size(1.8); 
			margin-bottom: 15px;
		}
		a,p{
			color: darken(@white, 30%);
		}
		div{
			.column(12,12);
			margin-top: 20px;
			border-top:1px dashed lighten(@black, 20%);
			text-align: right;
			.box-sizing();
			padding: 20px 35px 0 0;
			a{
				margin: 2px;
			}
			p{
				display: inline;
				margin-right: 10px;
			}
		}
	}	
}	
.lower_footer{
	.column(12);
	margin-top: 5px;
	img{
		width: 100px;
		float: left;
	}
	p{
		text-align: right;
	}
}






