/* -------------- Fonts -------------- */


.heading-font(@weight : 300, @style : normal){
	font-family: 'Exo',serif;
	font-weight: @weight;
	font-style: @style;
}

.main-font(@weight : 300, @style : normal){
	font-family: 'Lato', Arial, sans-serif;
	font-weight: @weight;
	font-style: @style;
}

.font-size(@sizeValue :1.4) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  @lineremValue: (@sizeValue * 1.2);
  @linepxValue: (@sizeValue * 12);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
  line-height: ~"@{linepxValue}px"; 
  line-height: ~"@{lineremValue}rem";
}

.line-height(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  line-height: ~"@{pxValue}px"; 
  line-height: ~"@{remValue}rem";
}


/* -------------- Colours -------------- */

@yellow : #ffd21e;
@black : #414141;
@brown : #180B0B;
@white :#ffffff;
@grey : #cccccc;
@blue : #5bc0de;
@red : #d9534f;
@green : #00a651;


/* --------------  cols -------------- */

.col1{ .column(1); }
.col2{ .column(2); }
.col3{ .column(3); }
.col4{ .column(4); }
.col5{ .column(5); }
.col6{ .column(6); }
.col7{ .column(7); }
.col8{ .column(8); }
.col9{ .column(9); }
.col10{ .column(10); }
.col11{ .column(11); }
.col12{ .column(12); }

/* --------------  rows -------------- */

.row1{ .row(1); }
.row2{ .row(2); }
.row3{ .row(3); }
.row4{ .row(4); }
.row5{ .row(5); }
.row6{ .row(6); }
.row7{ .row(7); }
.row8{ .row(8); }
.row9{ .row(9); }
.row10{ .row(10); }
.row11{ .row(11); }
.row12{ .row(12); }

/* --------------  push -------------- */

.push1{.push(1); }
.push2{.push(2); }
.push3{.push(3); }
.push4{.push(4); }
.push5{.push(5); }
.push6{.push(6); }
.push7{.push(7); }
.push8{.push(8); }
.push9{.push(9); }
.push10{.push(10); }
.push11{.push(11); }
.push12{.push(12); }

